.button { 
   -fx-background-color: #4d80c4; 
   -fx-text-fill: white; 
}

.button:hover {
	-fx-background-color: #3a69a6;
	-fx-transition: 0.4s;
}

.text {
	-fx-font-family: Arial, Helvetica, sans-serif;
	-fx-font-weight: bold;
}